<div>
    <form id="submission-form" action="/results" method="post">
        <div style="height:85%;width:50%;border-radius:3%;padding:24px;border:2px black solid;">
            <h1>Rolex Price Estimator</h1>
            <fieldset>
                <legend>Watch Model</legend>
                <p>
                    <input type="radio" name="watch-model" value="Productdaydate">Day Date</input>
                    <input type="radio" name="watch-model" value="Productdatejust">Date Just</input>
                    <input type="radio" name="watch-model" value="Productoysterperpetual">Oyster Perpetual</input>
                    <input type="radio" name="watch-model" value="Productladydatejust">Lady Date Just</input>
                    <input type="radio" name="watch-model" value="Productskydweller">Sky Dweller</input>
                    <input type="radio" name="watch-model" value="Productcellini">Cellini</input>
                    <input type="radio" name="watch-model" value="Productairking">Air King</input>
                    <input type="radio" name="watch-model" value="Productgmtmaster">GMT Master</input>
                    <input type="radio" name="watch-model" value="Productyachtmaster">Yacht Master</input>
                    <input type="radio" name="watch-model" value="Productsubmariner">Submariner</input>
                    <input type="radio" name="watch-model" value="Productcosmographdaytona">Cosmograph Daytona</input>
                    <input type="radio" name="watch-model" value="Productseadweller">Sea Dweller</input>
                    <input type="radio" name="watch-model" value="Productskydweller">Sky Dweller</input>
                    <input type="radio" name="watch-model" value="Productexplorer">Explorer</input>
                    <input type="radio" name="watch-model" value="Productmilgauss">Milgauss</input>
                    <input type="radio" name="watch-model" value="Productother">Other</input>
                </p>
            </fieldset>

            <fieldset>
                <legend>Case Material</legend>
                <p>
                    <input type="checkbox" name="case-material" value="caseSteel">Stainless Steel</input>
                    <input type="checkbox" name="case-material" value="caseYellow">Yellow Gold</input>
                    <input type="checkbox" name="case-material" value="caseRose">Rose Gold</input>
                    <input type="checkbox" name="case-material" value="caseWhite">White Gold</input>
                    <input type="checkbox" name="case-material" value="casePlatinum">Platinum</input>
                </p>
            </fieldset>

            <fieldset>
                <legend>Strap Type</legend>
                <p>
                    <input type="radio" name="strap-type" value="braceletMetal">Metal Bracelet</input>
                    <input type="radio" name="strap-type" value="braceletLeather">Leather Strap</input>
                    <input type="radio" name="strap-type" value="braceletRubber">Rubber Strap</input>
                    <input type="radio" name="strap-type" value="braceletFabric">Fabric Strap</input>
                </p>    
            </fieldset>

            <fieldset>
                <legend>Dial Type</legend>
                <p>
                    <input type="radio" name="dial-type" value="noDiamond">No Diamonds</input>
                    <input type="radio" name="dial-type" value="someDiamonds">Diamond Markers</input>
                    <input type="radio" name="dial-type" value="allDiamond">Pavee/ All Diamond</input>
                    <input type="radio" name="dial-type" value="preciousStone">Precious Dial</input>
                </p>
            </fieldset>
        
            <fieldset>
                <legend>Movement Type</legend>
                <p>
                    <input type="radio" name="movement-type" value="Movementautomatic">Automatic</input>
                    <input type="radio" name="movement-type" value="Movementquartz">Quartz</input>
                    <input type="radio" name="movement-type" value="Movementmanual">Manual</input>
                </p>
            </fieldset>

            <fieldset>
                <legend>Condition</legend>
                <p>
                    <input type="radio" name="condition-value" value="CondtionAAA">AAA</input>
                    <input type="radio" name="condition-value" value="ConditionAA">AA</input>
                    <input type="radio" name="condition-value" value="ConditionA">A</input>
                    <input type="radio" name="condition-value" value="ConditionB">B</input>
                    <input type="radio" name="condition-value" value="Conditionother">Other</input>
                </p>
            </fieldset>

            <fieldset>
                <legend>Includes Box?</legend>
                <p>
                    <input type="radio" name="box-value" value="BoxYes">Yes</input>
                    <input type="radio" name="box-value" value="BoxNo">No</input>
                </p>
            </fieldset>

            <fieldset>
                <legend>Includes Papers?</legend>
                <p>
                    <input type="radio" name="papers-value" value="PapersYes">Yes</input>
                    <input type="radio" name="papers-value" value="PapersNo">No</input>
                </p>
            </fieldset>

                <fieldset>
                    <legend>Case Size</legend>
                <p>
                    <input type="radio" name="case-size" value="CaseSize32">32 mm and under</input>
                    <input type="radio" name="case-size" value="CaseSize34">32-34 mm</input>
                    <input type="radio" name="case-size" value="CaseSize36">34-36 mm</input>
                    <input type="radio" name="case-size" value="CaseSize38">36-38 mm</input>
                    <input type="radio" name="case-size" value="CaseSize40">38-40 mm</input>
                    <input type="radio" name="case-size" value="CaseSize42">40-42 mm</input>
                    <input type="radio" name="case-size" value="CaseSize44">42-44 mm</input>
                </p>
            </fieldset>

            <div>
                <button type="submit" id="submit" style="margin-top:24px;">Submit</button>
            <div>
        </div>
    </form>
</div>
