<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/quote.css') }}">
    <title>Predicted Output</title>
</head>
<body>
    <div id='prediction' class="divs">
        <h1>Rolex Price Estimator</h1>
        <p>Your {{watchName}} ROLEX is worth ${{prediction}}</p>
    </div>
    <div id="coefs" class="divs">
        <img src="{{featureGraph}}" alt="Feature Importance Graph"></img>
    </div>
</body>
</html>